.allignBottom{
    margin-top: 85%;
}

.error-size{
    font-size: 13px;
}

.mediumFont{
    font-size: medium;
}

.largeFont{
    font-size: large;
}

.prominate{
    font-weight: bold;
    padding-right: 1%;
}

.blueborder{
    --border-color:rgba(78, 130, 194, 0.6) ;
    --border-width:3px;
    --border-radius:12px;
    margin-left:4%;
    margin-right: 4%;
    --padding-start:5%;
    --padding-end:5%;
}

.bold{
    font-weight: bold;
}

.text-Overflow{
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}