<ion-item [hidden]="hidden" class="blueborder ion-margin-bottom">
  <ion-label position="stacked">{{'Select Group' | translate}}</ion-label>
  <ion-select (ionChange)="getSelectedGroup($event)" [(ngModel)]="defaultValue">
    <ion-select-option *ngFor="let group of groups" [value]="group.id">{{group?.name}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-label>
  <ion-text color="primary">
    <h2 class="bold">{{currentProject?.name}}, {{currentProject?.code}}, 
      <span class="bold" *ngFor="let user of currentUsers">{{user?.name}}</span>
    </h2>
  </ion-text>
</ion-label>


<ion-item *ngFor="let attribute of groupAttributes">
  <ion-label class="ion-text-wrap">
    <h4>{{attribute?.title}}</h4>
    <p>{{attribute?.description}}</p>
  </ion-label>
  <ion-checkbox class="ion-margin-top" slot="end" [(ngModel)]="attribute.checked"
    (ionChange)="getCheckedAttribute(attribute)"></ion-checkbox>
</ion-item>

<!-- <ion-footer class="allignBottom ion-padding">
  <ion-button expand="block" (click)="next()">{{'next' | translate}}</ion-button>
</ion-footer>
!--->