
<ion-searchbar [(ngModel)]="term" [placeholder]="search"></ion-searchbar>
<ion-list-header><ion-text color="primary"><h2>{{'Select User' | translate}}</h2></ion-text></ion-list-header>

<ion-item *ngFor="let user of userList |filter:term">
    <ion-label>{{user?.name}}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="user.checked" (ionChange)="getCheckeduser(user)"></ion-checkbox>
  </ion-item>

  <div *ngIf="userList.length == 0" class="ion-padding noItemsCustomize">
    <ion-text color="primary">{{ noUsersFound }}</ion-text>
  </div>

<!-- <ion-footer class="allignBottom ion-padding">
  <ion-button expand="block" (click)="next()">{{'next' | translate}}</ion-button>
</ion-footer> -->
