<!--Profile- Profile 1-->
<ion-content class="ion-no-padding" *ngIf="viewEntered">
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row class="ion-padding-bottom">
      <ion-col class="ion-no-padding" size="12">
        <ion-card class="ion-text-center no-box-shadow no-border-radius ion-no-margin">
          <ion-item class="transparent" lines="none">
            <ion-avatar slot="start" class="ion-align-self-start gradient-image">
              <img [src]="data.image" alt="">
            </ion-avatar>
            <ion-label>
              <h1 class="ion-text-wrap  text-size-md text-color-primary font-light">{{data.title}}</h1>
              <p class="ion-text-wrap text-size-xs text-color-secondary font-light">{{data.subtitle}}</p>
            </ion-label>
          </ion-item>
          <div class="social-share">
            <!-- Followers-->
            <ion-item class="transparent" lines="none" (click)="buttonClick()">
              <ion-label class="ion-text-center">
                <span class="text-size-xs text-color-primary font-regular">{{data.valueFollowers}}</span>
                <h2 class="text-size-xs text-color-primary font-regular">{{data.followers}}</h2>
              </ion-label>
            </ion-item>
            <!-- Following -->
            <ion-item class="transparent" lines="none" (click)="buttonClick()">
              <ion-label class="ion-text-center">
                <span class="text-size-xs text-color-primary font-regular">{{data.valueFollowing}}</span>
                <h2 class="text-size-xs text-color-primary font-regular">{{data.following}}</h2>
              </ion-label>
            </ion-item>
            <!-- Post -->
            <ion-item class="transparent" lines="none" (click)="buttonClick()">
              <ion-label class="ion-text-center">
                <span class="text-size-xs text-color-primary font-regular">{{data.valuePosts}}</span>
                <h2 class="text-size-xs text-color-primary font-regular">{{data.posts}}</h2>
              </ion-label>
            </ion-item>
          </div>
          <ion-row class="ion-padding">
            <ion-col size="6">
              <ion-button class="button-default ion-text-capitalize" expand="block">
                {{data.follow}}</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="button-default ion-text-capitalize" expand="block">
                {{data.message}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <!-- Name Category -->
        <h1 class="ion-no-margin ion-text-uppercase text-size-md text-color-secondary font-bold ion-text-center">{{data.category}}</h1>
      </ion-col>
      <ion-col class="ion-no-padding ion-text-center" size="12" size-md="4" *ngFor="let item of data.items;let i = index" (click)="onItemClickFunc(item, $event)">
        <ion-card class="ion-padding no-box-shadow ion-text-center no-border-radius ion-no-margin">
          <div class="border-radius gradient-image">
            <ion-img [src]="item.backgroundCard"></ion-img>
          </div>
          <ion-card-content>
            <span class="text-size-xs text-color-primary font-light ion-text-capitalize">{{item.category}}</span>
            <h1 class="text-size-md ion-text-wrap text-color-secondary font-regular ion-padding-top">{{item.title}}</h1>
          </ion-card-content>
          <ion-button class="button-icon ion-text-capitalize" (click)="onLikeFunc(item, $event)">
            <ion-icon class="icon-font-sm icon-color-primary" slot="start" [ngClass]="{'active' : item.like.isActive}" [name]="item.like.icon"></ion-icon>
            {{item.like.number}} {{item.like.text}}
          </ion-button>
          <ion-button class="button-icon ion-text-capitalize" (click)="onCommentFunc(item, $event)">
            <ion-icon class="icon-font-sm icon-color-primary" slot="start" [name]="item.comment.icon"></ion-icon>
            {{item.comment.number}} {{item.comment.text}}
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
