/* Style component 2
========================================================*/

.icon-rating {
  display: flex;
  justify-content: center;
}

i::before {
  margin: 0 !important;
}

ion-grid {
  height: 100%;

  ion-row {
    height: 100%;

    ion-item {
      --background: var(--cs-background-primary);
      border-bottom: 1px solid var(--cs-background-border);
    }

    .item-has-focus,
    .item-has-value {
      border-bottom: 1px solid var(--cs-background-accent);
    }

    .textarea {
      min-height: 280px;
      height: calc(100% - 150px);

      ion-item {
        height: 100%;
        width: 100% !important;
        display: -webkit-inline-box;

        ion-textarea {
          height: 100%;
          width: 100% !important;
        }
      }
    }
  }
}
