<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon color="primary" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Weather' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of weatherList">
      {{item.val | translate}}
      <ion-checkbox  [(ngModel)]="item.isChecked" slot="end" class="small"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="onWeatherSelect(weatherList)">{{'confirm' | translate}}</ion-button>
</ion-footer>


