<!--Themes Simple -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding" size="12">
      <ion-list>
        <!-- Header Title Top -->
        <ion-list-header class="ion-margin-bottom border">
          <h1 class="text-size-xl text-color-primary font-bold">{{data.title}}</h1>
        </ion-list-header>
        <!-- List -->
        <ion-radio-group [(ngModel)]="data.selectedItem">
          <ion-item class="transparent" 
          *ngFor="let entry of data.items" 
          (click)="onItemClickFunc(entry, $event)">
            <ion-radio [value]="entry.id"></ion-radio>
            <ion-label 
            class="ion-text-wrap ion-padding-start text-size-md text-color-primary font-bold">
            {{entry.title}}
          </ion-label>
            <ion-label class="ion-text-wrap ion-text-end text-size-xs text-color-secondary font-regular">
              {{entry.subtitle}}
            </ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
