<ion-list *ngIf="flag == 'C'">
  <ion-item (click)="close('E')">{{'Edit Site Diary' | translate}}</ion-item>
  <ion-item (click)="close('P')">{{'files' | translate}}</ion-item>
  <ion-item (click)="close('T')">{{'take_photo' | translate}}</ion-item>
</ion-list>

<ion-list *ngIf="flag == 'IND'">
  <ion-item (click)="close('GP')">{{'files' | translate}}</ion-item>
  <ion-item (click)="close('GT')">{{'take_photo' | translate}}</ion-item>
</ion-list>
