<div id="image" *ngIf="path && item?.name.includes('jpeg') || item?.name.includes('png')" class="ion-margin-right">
  <img [src]="path" width="35px" height="35px"/>  
</div>
<div *ngIf="item?.name.includes('pdf')" class="ion-margin-right">
  <img id="pdf" src="../../../../../assets/imgs/Files-Pdf-icon.png" width="35px" height="35px" (click)="openFile.emit(path)"/>
</div>

<ion-label class="margin-left">    
  <h2>
    {{item?.name}} 
  </h2>
  
  <p class="smallsize">{{item?.createdDate | date: 'short'}}</p>
  <p>{{item?.description}}</p>

</ion-label>
<ion-checkbox *ngIf="!checkbox_hidden" slot="end" class="checkbox-square"></ion-checkbox>
