<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="primary" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Induction' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <app-wizard [step]="slideNum" (goStep)="goStep($event)" [disableThirdStep]="disableThirdStep"></app-wizard>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-slides pager="false" #slides>

    <ion-slide class="box-slides">
      <app-firstscreen class="box-wh" [user]="usersList"></app-firstscreen>
    </ion-slide>
    <ion-slide style="height: 100%;">
      <app-secondscreen style="height: 100%; width: 100%;" [currentUsers]="filteredUsers" [groups]="groups" [groupAttributes]="groupAttributes"
        [currentProject]="project"></app-secondscreen>
    </ion-slide>
    <ion-slide class="box-slides">
      <app-thirdscreen class="box-wh" *ngIf="secondStepCompleted" (sendValuesToMain)="onReceive($event)">
      </app-thirdscreen>
    </ion-slide>
    <ion-slide style="height: 100%;">
      <app-fourthscreen *ngIf="thirdStepCompleted" style="height: 100%; width: 100%;"></app-fourthscreen>
    </ion-slide>

  </ion-slides>
</ion-content>

<ion-footer class="allignBottom ion-padding">
  <ion-button expand="block" (click)="goToNext()">
    <span *ngIf="!thirdStepCompleted">{{'next' | translate}}</span>
    <span *ngIf="thirdStepCompleted">{{'save' | translate}}</span>
  </ion-button>
</ion-footer>