<ion-app>
  <!--- Header -->
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--- Content -->
  <ion-content>

    <!-- PAGE 1 -->
    <cs-alert-layout-1
      *ngIf="isType(0)"
      [data]="data"
      (onOkClick)="onOkClick($event)"
      (onCancelClick)="onCancelClick($event)">
    </cs-alert-layout-1>

    <!-- PAGE 2 -->
    <cs-alert-layout-2
      *ngIf="isType(1)"
      [data]="data"
      (onOkClick)="onOkClick($event)"
      (onCancelClick)="onCancelClick($event)">
    </cs-alert-layout-2>

    <!-- PAGE 3 -->
    <cs-alert-layout-3
      *ngIf="isType(2)"
      [data]="data"
      (onOkClick)="onOkClick($event)"
      (onCancelClick)="onCancelClick($event)">

    </cs-alert-layout-3>
  </ion-content>
</ion-app>
