<!-- ALERT --COMPONENT 3 -->
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of data.items" (click)="presentAlert(item, $event)">
      <ion-card class="no-box-shadow border-radius-left">
        <ion-card-content class="background-size gradient-image" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
        </ion-card-content>
        <ion-card-content class="ion-align-self-center transparent">
            <h1 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h1>
            <p class="ion-text-wrap text-size-p text-color-secondary font-light">{{item.description}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
