<!--Themes Time Line - Timeline With Cards  -->
<ion-grid *ngIf="data != null">
  <ion-row class="ion-padding-start">
    <ion-col class="ion-no-padding" size="11" offset="1">
      <ion-card class="no-box-shadow" *ngFor="let item of data.items; let i= index" (click)="onItemClickFunc(item, $event)">
        <ion-item lines="none" class="transparent">
          <ion-label>
            <p class="ion-text-wrap text-size-xs text-color-accent font-regular">{{item.time}}</p>
            <h2 class="ion-text-wrap text-size-xl text-color-primary font-bold">{{item.title}}</h2>
          </ion-label>
        </ion-item>
        <div class="gradient-image border-radius padding-start padding-end padding-bottom">
          <ion-img [src]="item.image"></ion-img>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
