<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Site Diary Detail' | translate}}</ion-title>
    <ion-button fill="clear" slot="end" (click)="activatePopover($event)"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">
        {{'Project Name' | translate}}
      </ion-label>
      {{detail.projectName}}
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        {{'Creator' | translate}}
      </ion-label>
      {{detail.creator}}
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        {{'Description' | translate}}
      </ion-label>
      {{detail.description}}
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        {{'Status' | translate}}
      </ion-label>
      {{detail.status}}
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        {{'Start Date' | translate }}
      </ion-label>
      {{detail.startDate | date:'dd.MM.yyyy'}}
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        {{'End Date' | translate}}
      </ion-label>
      {{detail.endDate | date:'dd.MM.yyyy'}}
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        {{'Temperature Morning' | translate}}
      </ion-label>
      {{detail.temperatureMorning}}&#176;
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        {{'Temperature Afternoon' | translate}}
      </ion-label>
      {{detail.temperatureAfternoon}}&#176;
    </ion-item>
  </ion-list>
</ion-content>