<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss({data: 'A'})">
        <ion-icon color="primary" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'User Selection' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar [(ngModel)]="term"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of plist |filter:term" (click)="onUserSelect(item)">
      <ion-label>
        {{item.id}},{{item.firstname}} {{item.lastname}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>