<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="primary" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{'site_diary' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="group" validate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">
          {{'Select Project' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.projectId.touched || submitted) && group.controls.projectId.errors?.required" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" formControlName="projectId" (click)="getProjectsList()"
          [(ngModel)]="project">
          <ion-select-option *ngFor="let project of projectsList">{{project.id}},{{project.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item (click)=" goToUserSelectionList()" *ngIf="!isUser">
        <ion-label position="stacked">
          {{ 'Select User' | translate}}
        </ion-label>
        <ion-input placeholder="...." readonly="true" formControlName="userId"></ion-input>
      </ion-item>

      <ion-item (click)=" goToCustomerSelectionList()">
        <ion-label position="stacked">
          {{'Select Customer' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.customers.touched || submitted) && group.controls.customers.errors?.required" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-input placeholder="...." readonly="true" formControlName="customers"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          {{'Start Date' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.startDate.touched || submitted) && group.controls.startDate.errors?.required" color="danger">{{'required' | translate}}</ion-text>
          <ion-text class="error-size" *ngIf="startDateFlag" color="danger">{{'greater' | translate}}</ion-text>
        </ion-label>
        <ion-datetime displayFormat="DD.MM.YYYY" formControlName="startDate" [(ngModel)]="defaultStartDate">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          {{'End Date' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.endDate.touched || submitted) && group.controls.endDate.errors?.required" color="danger">{{'required' | translate}}</ion-text>
          <ion-text class="error-size" *ngIf="enddateFlag" color="danger">{{'lesser' | translate}}</ion-text>
        </ion-label>
        <ion-datetime displayFormat="DD.MM.YYYY" formControlName="endDate" [(ngModel)]="defaultEndDate">
        </ion-datetime>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">
          {{'Temperature Morning' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.temperatureMorning.touched || submitted) && group.controls.temperatureMorning.errors?.required" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-input type="number" formControlName="temperatureMorning"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">
          {{'Temperature Afternoon' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.temperatureAfternoon.touched || submitted) && group.controls.temperatureAfternoon.errors?.required" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-input type="number" formControlName="temperatureAfternoon"></ion-input>
      </ion-item>

      <ion-item (click)="goToWeatherSelectionList()">
        <ion-label position="stacked">
          {{'Weather' | translate}}
          <ion-text class="error-size" *ngIf="(submitted || flag) && weatherDisplay == null" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-input class="small" [(ngModel)]="weatherDisplay" placeholder="...." readonly="true" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          {{ 'Description' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.description.touched || submitted) && group.controls.description.errors?.required" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-input formControlName="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          {{'Site Power' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.sitePower.touched || submitted) && group.controls.sitePower.errors?.required" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-input formControlName="sitePower"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          {{'Contractor Reminders' | translate}}
          <ion-text class="error-size" color="danger" *ngIf="(group.controls.contractorReminders.touched || submitted) && group.controls.contractorReminders.errors?.required">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-input formControlName="contractorReminders"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          {{'Constructor Reminders' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.constructorReminders.touched || submitted) && group.controls.constructorReminders.errors?.required" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-input formControlName="constructorReminders"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          {{'Inspections' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.inspections.touched || submitted) && group.controls.inspections.errors?.required" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-input formControlName="inspections"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          {{'others' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.othersText.touched || submitted) && group.controls.othersText.errors?.required" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-input formControlName="othersText"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          {{'Status' | translate}}
          <ion-text class="error-size" *ngIf="(group.controls.statusId.touched || submitted) && group.controls.statusId.errors?.required" color="danger">{{'required' | translate}}</ion-text>
        </ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" formControlName="statusId">
          <ion-select-option *ngFor="let status of statusList" [value]="status.id">
            {{status.name | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="onSubmit()">{{'save' | translate}}</ion-button>
</ion-footer>