<!-- ACTION SHEET --COMPONENT 1-->
<ion-page class="ion-page">
  <!--- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content parallax-header (ionScroll)="logScrolling($event)" [scrollEvents]="true">
    <!-- Parallax Big Image -->
    <div class="header-image background-size " [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
      <ion-item class="transparent" lines="none">
        <ion-button slot="end" class="ion-margin-top  button-action-shit " (click)="presentActionSheet(data, $event)">
          <ion-icon class="icon-font-md icon-color-light" slot="icon-only" [name]="data.shareIcon"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
    <!--Content-->
    <ion-grid class="ion-no-padding" *ngIf="data != null && data.items != null">
      <ion-row>
        <ion-col class="ion-no-padding background-primary" size="12">
          <ion-item class="transparent" lines="none" *ngFor="let item of data.items;let i = index">
            <ion-label>
              <span class="ion-margin-bottom text-size-xxs text-color-accent font-bold ion-text-uppercase">{{item.category}}</span>
              <h1 class="ion-text-wrap text-size-xl text-color-primary font-bold">{{item.title}}</h1>
              <h2 class="ion-text-wrap text-size-xs text-color-secondary font-regular">{{item.subtitle}}</h2>
            </ion-label>
            <ion-label slot="end" class="ion-align-self-end">
              <ion-badge>{{item.button}}</ion-badge>
            </ion-label>
          </ion-item>
          <ion-item class="transparent" *ngFor="let item of data.items;let i = index">
            <h2 class="ion-no-margin ion-padding-bottom text-size-xs text-color-secondary font-regular">{{item.description}}</h2>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding background-primary" size="12" *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
          <!--Content With Text-->
          <ion-item class="transparent" lines="none" *ngFor="let productDescription of item.productDescriptions">
            <p class="ion-text-wrap text-size-xs text-color-secondary font-regular">{{productDescription.description}}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
