/* Settings Segments
===========================================*/
.page1,
.page2 {
  .background-size {
    height: 250px;
  }
}

.page3 {
  ion-list-header {

    ion-button {
      align-self: flex-end;
    }
  }
}
