<ion-list-header><ion-text color="primary"><h2>{{'qualifications' | translate}}</h2></ion-text></ion-list-header>
<ion-item *ngFor="let attribute of userAttributes">
        <ion-label><h4>{{attribute?.description}}</h4></ion-label>
        <ion-checkbox slot="end" [(ngModel)]="attribute.checked" (ionChange)="getCheckedUserAttributes(attribute)"></ion-checkbox>
</ion-item>
