<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>

        </ion-buttons>
        <ion-title>{{ 'own_settings' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-radio-group [value]="translation.lang" (ionChange)="onChangeLang($event)">
            <ion-list-header color="primary">
                <ion-label><h2>{{ 'languages' | translate }}</h2></ion-label>
            </ion-list-header>

            <ion-item *ngFor="let language of languages" >
                <ion-label>{{language.title}}</ion-label>
                <ion-radio value="{{language.code}}"></ion-radio>
            </ion-item>
            
        </ion-radio-group>
    </ion-list>
    <ion-list>
        
        <ion-item>
            <ion-label>{{'close_after_time_note' | translate }}</ion-label>
            <ion-toggle [(ngModel)]="close_after_time_note" (ionChange)="toggleCloseAfterTimeNote(close_after_time_note)" ></ion-toggle>
        </ion-item>
        
    </ion-list>
    <ion-list>
        <ion-list-header color="primary">
            <ion-label><h2>{{ 'sidemenu' | translate }}</h2></ion-label>
        </ion-list-header>

        <ion-item *ngFor="let menu of menus" [hidden]=" menu.route == 'home' || menu.route == 'own_settings' || menu.route == 'logout'" >
            <ion-label>{{menu.title | translate }}</ion-label>
            <ion-toggle [(ngModel)]="menu.toggle" (ionChange)="toggleSidemenuItem(menu)" ></ion-toggle>
        </ion-item>
        
    </ion-list>
</ion-content>

<ion-footer>
    <ion-button expand="block" (click)="showLogs()"> SHOW URL LOGS </ion-button>
</ion-footer>