/* Style component 1
========================================================*/
ion-card {
  .card-image {
    position: relative;

    img {
      width: 100% !important;
    }

    .price-section {
      position: absolute;
      display: flex;
      align-self: center;
      bottom: 8px;
      right: 16px;
    }
  }
}
