<!-- GOOGLE CARD --COMPONENT 2 -->
<ion-grid *ngIf="data != null">
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of data.items">
      <ion-card class="ion-no-margin ion-text-start no-box-shadow border-radius" (click)="onItemClickFunc(item, $event)">
        <div class="card-image">
          <!--Card image-->
          <img [src]="item.image" />
          <div class="price-section">
            <span class="new-category ion-margin-end">{{item.price}}</span>
            <!-- Share Button --->
            <ion-button class="ion-no-padding button-action-shit" (click)="presentActionSheet(data, $event)">
              <ion-icon class="icon-font-md icon-color-light" slot="icon-only" [name]="item.shareIcon"></ion-icon>
            </ion-button>
          </div>
        </div>
        <!--Card content-->
        <ion-card-content class="transparent">
          <!--Card title-->
          <h1 class="ion-text-wrap ion-no-margin text-size-xl text-color-primary font-bold">{{item.title}}</h1>
          <!--Card subtitle-->
          <h2 class="ion-text-wrap text-size-md text-color-secondary font-light">{{item.subtitle}}</h2>
          <!--Card description-->
          <p class="text-size-p text-color-secondary font-light ion-padding-top">{{item.description}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
