<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Induction' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item class="blueborder" no-lines>
          <ion-label position="stacked">{{'Select Project' | translate}}</ion-label>
          <ionic-selectable ngDefaultControl 
          [(ngModel)]="project" 
          [items]="plist" 
          itemValueField="id"
          itemTextField="name" 
          [canSearch]="true" 
          (onChange)="projectChange($event)" 
          [closeButtonText]="cancelText" 
          [searchPlaceholder]="searchText"
          >
          <ng-template ionicSelectableSearchFailTemplate>
            <div class="ion-padding noItemsCustomize">
              <ion-text color="primary">{{ noProjectsFound }}</ion-text>
            </div>
          </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="blueborder" no-lines>
          <ion-label position="stacked">{{'Select User' | translate}}</ion-label>
          <ionic-selectable ngDefaultControl 
            [(ngModel)]="user" 
            [items]="ulist" 
            itemValueField="id" 
            itemTextField="name"
            [canSearch]="true" 
            (onChange)="userChange($event)" 
            [closeButtonText]="cancelText" 
            [searchPlaceholder]="searchText"
            >
            <ng-template ionicSelectableSearchFailTemplate>
              <div class="ion-padding noItemsCustomize">
                <ion-text color="primary">{{ noUsersFound }}</ion-text>
              </div>
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

<ion-content>

  <ion-list *ngIf="ulist.length > 0">
    <ion-item *ngFor="let introduction of introductionList" (click)="goToIntroductionDetail(introduction)">
      <ion-label>
        <h2>
          {{introduction.introducted}}
          <div class="columnView">
            <span class="small margin-bottom">
              {{introduction.dateSigned | date:'dd.MM.yyyy'}}
            </span>
          </div>
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>

    <div *ngIf="ulist.length == 0" class="ion-padding noItemsCustomize">
      <ion-text color="primary">{{ noUsersFound }}</ion-text>
    </div>


</ion-content>


<ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openInductionFormPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>