/* Profile 2
========================================*/
:host {
  --cs-size-avatar: 120px;
}

ion-slides {
  overflow: visible;

  ion-card {
    width: 100%;
  }
}

ion-avatar {
  height: var(--cs-size-avatar, 120px) !important;
  width: var(--cs-size-avatar, 120px) !important;
  margin: 0 auto !important;
}

.social-share {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
