<ion-header [ngClass]="{'active': isHeaderVisible }">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--- Theme Parallax Frends -->
<ion-page class="ion-page">
  <ion-content scrollEvents="true" parallax-header *ngIf="data != null" (ionScroll)="scrolling($event)">
    <div class="header-image gradient-image background-size" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
      <div class="parallax-title-section">
        <!--Title parallax-->
        <h3 class="ion-no-margin text-size-md text-color-light font-regular" *ngIf="data != null">{{data.subtitle}}</h3>
        <h2 class="text-size-xl text-color-light font-bold" *ngIf="data != null">{{data.title}}</h2>
      </div>
    </div>
    <!--Content-->
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <ion-list class="ion-no-margin">
            <ion-item class="transparent" *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
              <!--Content Avatar-->
              <ion-thumbnail class="gradient-image">
                <img [src]="item.image">
              </ion-thumbnail>
              <!-- Ttile and Subtitle -->
              <ion-label class="ion-padding-start">
                <h2 class="text-size-md text-color-primary font-light">{{item.title}}</h2>
                <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</h3>
                <ion-badge class="ion-margin-top ion-float-end" >{{item.button}}</ion-badge>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
