<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'time_notes' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-list>
            <ion-item>
                <ion-label class="ion-text-wrap" position="stacked">
                    <h2 class="font-16">{{projectData?.name}}</h2>
                    <!-- <p>{{ projectData?.completeAddress }}</p> -->
                </ion-label>
                <ion-textarea [value]="projectData?.completeAddress" readonly="true"></ion-textarea>                
                
            </ion-item>
            
            <ion-item (click)="selectEntity()">
                <ion-label class="ion-text-wrap" position="stacked">
                    <h2 class="font-16">{{ 'litteras' | translate }}</h2>
                    <!-- <h2 class="font-16">{{ entity ? entity.name : 'select_entity' | translate }}</h2> -->
                </ion-label>
                <ion-input [value]="entity ? entity.name : '' "  readonly="true"></ion-input>                
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap" position="stacked">
                    <h2 class="font-16">{{ 'comment' | translate }}</h2>
                </ion-label>
                <ion-input [(ngModel)]="description" name="description" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>

            <ion-item (click)="!entity || !inTime ? '' : hideAllowence = !hideAllowence">
                <ion-label class="ion-text-wrap" position="stacked">
                    <h2 class="font-16" [class.light-opacity]="!entity || !inTime">{{ 'allowence' | translate }} </h2>                    
                </ion-label>
                <ion-input [disabled]="!entity || !inTime" [value]="''" readonly="true"></ion-input>  
                <ion-icon [hidden]="!entity || !inTime" slot="end" class="set-customion-icon-right" [name]="hideAllowence ? 'add-circle-outline' : 'remove-circle-outline'"></ion-icon> 
                
            </ion-item>

            <ion-item [hidden]="hideAllowence">
                <ion-label class="ion-text-wrap" position="stacked">
                    <h2 class="font-16">{{ 'km_billable' | translate }}</h2>
                </ion-label>
                <ion-input placeholder="{{ 'km_billable' | translate }}" [(ngModel)]="km_billable" name="km_billable" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item [hidden]="hideAllowence">
                <ion-label class="ion-text-wrap" position="stacked">
                    <h2 class="font-16">{{ 'km_work' | translate }}</h2>
                </ion-label>
                <ion-input placeholder="{{ 'km_work' | translate }}" [(ngModel)]="km_work" name="km_work" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item [hidden]="hideAllowence">
                <ion-label class="ion-text-wrap" position="stacked">
                    <h2 class="font-16">{{ 'daily_allowence' | translate }}</h2>
                </ion-label>
                <ion-select cancelText="{{ 'cancelText' | translate }}" okText="{{ 'okText' | translate }}" placeholder="{{ 'select_one' | translate }}" [(ngModel)]="daily_allowence" name="daily_allowence" [ngModelOptions]="{standalone: true}">
                    <!-- <ion-select-option value="0">{{ 'select_one' | translate }}</ion-select-option> -->
                    <ion-select-option value="1">{{ 'partial' | translate }}</ion-select-option>
                    <ion-select-option value="2">{{ 'complete' | translate }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item [hidden]="hideAllowence">
                <ion-label class="ion-text-wrap" position="stacked">
                    <h2 class="font-16">{{ 'lunch_allowence' | translate }}</h2>
                </ion-label>
                <ion-select cancelText="{{ 'cancelText' | translate }}" okText="{{ 'okText' | translate }}" placeholder="{{ 'select_one' | translate }}" [(ngModel)]="lunch_allowence" name="lunch_allowence" [ngModelOptions]="{standalone: true}">
                    <!-- <ion-select-option value="0">{{ 'select_one' | translate }}</ion-select-option> -->
                    <ion-select-option value="1">{{ 'yes' | translate }}</ion-select-option>
                    <ion-select-option value="2">{{ 'no' | translate }}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button [disabled]="!entity || inTime" [hidden]="projectData?.start == true || inTimeLoading" (click)="qrcodeIn()" expand="block" color="primary" shape="round">{{ 'qr_in_button' | translate }}</ion-button>
                        <div style="width: 100%; text-align: center;">
                            <ion-spinner name="bubbles" [hidden]="!inTimeLoading"></ion-spinner>
                        </div>
                        
                    </ion-col>
                    <ion-col>
                        <ion-button [disabled]="!entity || !inTime" [hidden]="projectData?.start == false  || outTimeLoading" (click)="qrcodeOut()" expand="block" color="danger" shape="round">{{ 'qr_out_button' | translate }}</ion-button>
                        <div style="width: 100%; text-align: center;">
                            <ion-spinner name="bubbles" [hidden]="!outTimeLoading"></ion-spinner>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
        <ion-text  [hidden]="!showNotification" color="primary"><p style="margin-left: 2%; text-align: center;">{{successMessageStart}} {{formattedDate}} {{successMessageEnd}}</p></ion-text>
    </form>
    <!-- <ion-badge [hidden]="!showNotification" color="warning" class="notification"></ion-badge>{{successMessageStart}} {{formattedDate}} {{successMessageEnd}} -->
</ion-content>
<ion-footer>
    <ion-item color="primary">
        <ion-label class="ion-text-wrap">
            <h2>{{user?.username}}</h2>
        </ion-label>
        <small slot="end" class="ion-margin-end ion-margin-start" *ngIf="inTime">{{ inTime | date:'HH:mm' }}</small>
    </ion-item>
</ion-footer>