.user-email-padding-above{
    margin-top: 10vh;
}

.font-16{
    font-size: 18px !important;
}

.light-opacity{
    opacity: 0.5;
}

.notification{
    margin-top: 35%;
    --padding-start: 5%;
    --padding-end: 0%;
    --padding-top: 5%;
    --padding-bottom: 5%;
    color:white;
    text-align: center;
    white-space: normal;
}