<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'time_sheets' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="moreMenu($event)">
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
          </ion-buttons>  
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar showCancelButton="focus" [(ngModel)]="filterTerm" animated="true" ></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>

        <ion-item *ngFor="let item of projects | filter:filterTerm " [color]="item.inTime ? 'postgreen' : ''"  detail="true" (click)="openProjectQrcode(item)">
            <ion-label class="ion-text-wrap">
                <h2>{{item.name}}</h2>
                <p>{{ item.completeAddress }}</p>

            </ion-label>
            <small slot="end" class="ion-margin-end ion-margin-start">{{ item.inTime | date: 'HH:mm' }}</small>
        </ion-item>

    </ion-list>

</ion-content>