<!-- SWIPE TO DISMISS --COMPONENT 1 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list #dynamicList>
        <!--Header-->
        <ion-list-header class="border ion-padding">
          <ion-label lines="none">
            <h1 class="ion-text-wrap ion-padding-bottom text-size-xl text-color-primary font-bold">
              {{data.header}}</h1>
              <h1 class="ion-text-wrap text-size-md text-color-primary font-light">
                {{data.title}}</h1>
              <h2 class="ion-text-wrap text-size-xs text-color-secondary font-light">
                {{data.subtitle}}</h2>
            </ion-label>
            <!--Header Button Procead---->
            <ion-button class="button-round" shape="round" fill="outline" (click)="onProceedFunc(data, $event)">
              {{data.button}}
            </ion-button>
        </ion-list-header>
        <!-- Content List -->
        <ion-item-sliding class="ion-padding-start background-primary" #sliding (click)="onItemClickFunc(item, $event)" disabled="false" *ngFor="let item of data.items">
          <ion-item class="ion-no-padding background-primary" lines="full">
            <ion-label>
              <!-- Title -->
              <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h2>
              <!-- Subtitle -->
              <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</h3>
            </ion-label>
            <p class="text-size-xs text-color-secondary font-light padding-half">{{item.textIcon}}</p>
            <ion-icon class="icon-font-md icon-color-accent" [name]="item.icon"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option class="background-accent" (click)="onDeleteFunc(item, $event)">
              <!-- Button -->
              <ion-button class="text-color-light text-size-md font-bold  ion-text-capitalize" fill="clear" (click)="delete(item)">
                {{item.delate}}
              </ion-button>
            </ion-item-option>
            <ion-item-option class="background-red" (click)="onUndoFunc($event)">
              <!-- Button -->
              <ion-button class="text-color-light text-size-md font-bold ion-text-capitalize" fill="clear" (click)="delete(item)">
                {{item.reply}}
              </ion-button>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
