<ion-header [ngClass]="{'active': isHeaderVisible }">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class=ion-text-capitalize>{{data.toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--- Theme Parallax Basic -->
<ion-page class="ion-page">
  <!--- Header Big Image-->
  <ion-content scrollEvents="true" parallax-header *ngIf="data != null" (ionScroll)="scrolling($event)">
    <div class="header-image">
      <div class="background-size" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
        <ion-item class="transparent" lines="none">
          <ion-button class="ion-no-padding button-action-shit" slot="end">
            <ion-icon class="icon-font-md icon-color-light" slot="icon-only" [name]="data.shareIcon"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      <div *ngFor="let item of data.items;let i = index">
        <ion-item class="transparent" lines="none">
          <ion-label>
            <span class="ion-text-uppercase text-size-sm text-color-accent font-regular ion-float-start">{{item.category}}</span>
            <div class="clearfix"></div>
            <h1 class="text-size-xl text-color-primary font-bold ion-float-start">{{item.title}}</h1>
            <div class="clearfix"></div>
            <!--Title parallax-->
            <h2 class="text-size-md text-color-secondary font-light ion-float-start">{{item.subtitle}}</h2>
            <div class="clearfix"></div>
          </ion-label>
          <ion-label slot="end" class="ion-align-self-end">
            <span class="new-category ion-text-uppercase ion-float-end">{{item.button}}</span>
          </ion-label>
        </ion-item>
      </div>
      <div class="ion-padding-start" *ngFor="let item of data.items;let i = index">
        <h2 class="text-size-md text-color-secondary font-light">{{item.description}}</h2>
      </div>
    </div>
    <!-- Content -->
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row>
        <ion-col class="ion-margin-top ion-no-padding background-primary" size="12" *ngFor="let item of data.items;let i = index">
          <ion-item class="transparent" lines="none" *ngFor="let productDescription of item.productDescriptions">
            <ion-label>
              <p class="ion-text-wrap text-size-xs text-color-secondary font-light">{{productDescription.description}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
