canvas {
    width: 100%;
}

.blueborder{
    --border-color:rgba(78, 130, 194, 0.6) ;
    --border-width:3px;
    --border-radius:12px;
    margin-left:4%;
    --padding-start:5%;
    --padding-end:5%;
}

.error-size{
    font-size: 13px;
}