<ion-list>
<form [formGroup]="group">
  <ion-item>
    <ion-label position="stacked">
      {{'Date Signed' | translate}}
      <ion-text class="error-size" color="danger" *ngIf="(group.controls.dateSigned.touched || submitted) && group.controls.dateSigned.errors?.required" color="danger">{{'required' | translate}}</ion-text>
    </ion-label>
    <ion-datetime displayFormat="DD.MM.YYYY" formControlName="dateSigned" [(ngModel)]="defaultDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">
      {{'Introducer' | translate}}
      <ion-text class="error-size" color="danger" *ngIf="(group.controls.introducer.touched || submitted) && group.controls.introducer.errors?.required" color="danger">{{'required' | translate}}</ion-text>
    </ion-label>
    <ion-input formControlName="introducer"></ion-input>
  </ion-item>
  <ion-item class="blueborder ion-margin-top ion-margin-end">
    <ion-label position="stacked">
      {{'Foreman' | translate}}
      <ion-icon name="trash" (click)="clearPadOne()"></ion-icon>
      <ion-text class="error-size" *ngIf="img1 == ''" color="danger">{{'required' | translate}}</ion-text>
    </ion-label>
    <canvas class="signature-pad-canvas" #foremanSign width="300" height="150" style="touch-action: auto;"></canvas>
  </ion-item>
    <ion-item class="blueborder ion-margin-top ion-margin-end">
      <ion-label position="stacked">
        {{'Worker' | translate}}
        <ion-icon name="trash" (click)="clearPadTwo()"></ion-icon>
        <ion-text class="error-size" *ngIf="img2 == ''" color="danger">{{'required' | translate}}</ion-text>
      </ion-label>
      <canvas class="signature-pad-canvas" #workerSign width="300" height="150" style="touch-action: auto;"></canvas>
    </ion-item>
</form>
</ion-list>
