<ion-content>
  <!--  Theme Form - Form + Write Comment -->
  <ion-grid class="ion-padding" *ngIf="data != null">
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <ion-item class="ion-no-padding" lines="none" input>
          <ion-input type="text" [placeholder]="data.yourName" [(ngModel)]="item.name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding" size="12">
        <ion-item class="ion-no-padding" lines="none" input>
          <ion-input type="text" [placeholder]="data.title" [(ngModel)]="item.title"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding textarea" size="12">
        <ion-item class="ion-no-padding" lines="none" input>
          <ion-textarea rows="100%" cols="1" [placeholder]="data.description" [(ngModel)]="item.description"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding ion-text-end" size="12">
        <ion-button expand="block" class="ion-margin-top ion-text-capitalize button-default" (click)="onSubmitFunc($event)">{{data.button}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
