<div *ngFor="let path of paths">
  <ion-item (click)="emitOpenFile(path.url)" *ngIf="path != null">
    <div id="image" *ngIf="path?.name.includes('jpeg') || path?.name.includes('png')"
      class="ion-margin-right ion-padding-right">
      <img [src]="path.url" width="35px" height="35px" />
    </div>
    <div *ngIf="path?.name.includes('pdf')" class="ion-margin-right ">
      <img id="pdf" src="../../../../../assets/imgs/Files-Pdf-icon.png" width="35px" height="35px"
        (click)="openFile.emit(path.url)" />
    </div>

    <ion-label class="margin-left">
      <h2>
        {{path?.name}}
      </h2>

      <p class="smallsize">{{path?.createdDate | date: 'short'}}</p>
      <p>{{path?.description}}</p>

    </ion-label>
    <ion-checkbox *ngIf="!checkbox_hidden" slot="end" [(ngModel)]="path.checked" class="checkbox-square"
  (ionChange)="addId($event,path)"></ion-checkbox>
  </ion-item>
</div>
<div *ngIf="paths == null" class="ion-padding noItemsCustomize"><ion-text color="primary">{{noFiles}}</ion-text></div>