<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon color="primary" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Customer' | translate}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar [(ngModel)]="term"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="loading" style="text-align: center; width: 100%;">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>  
  <ion-list>
    <!-- <ion-item class="blueborder" (click)="openCreateUserAlert()">
      <ion-label class="ion-text-center">
        <a>{{'Create User' | translate}}</a>
      </ion-label>
    </ion-item> -->
    <ion-item *ngFor="let customer of customerList |filter:term" (click)="onSelectCustomer(customer)">
      <ion-label>
        <h2>{{customer.firstname}} {{customer.lastname}}</h2>
        <p>{{customer.username}}</p>
      </ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openCreateUserAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>