.blueborder{
    --border-color:rgba(78, 130, 194, 0.6) ;
    --border-width:3px;
    --border-radius:12px;
    width: 93%;
    margin-left:4%;
    --padding-start:5%;
    --padding-end:5%;
}

.custom-class{
    h5{
        font-size: larger;
    }
    
}