/* Style component 3
========================================================*/
.background-size {
  position: relative;
  height: 250px;

  ion-card-header {
    position: absolute;
    top: 0;
  }

  ion-card-content {
    position: absolute;
    bottom: 0;
  }
}
