<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Site Diary list' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-item class="blueborder" no-lines>
    <ion-label position="stacked">{{'Select Project' | translate}}</ion-label>
    <ionic-selectable ngDefaultControl 
      [(ngModel)]="project" 
      [items]="plist" 
      itemValueField="id" 
      itemTextField="name"
      [canSearch]="true" 
      (onChange)="projectChange($event)"
      [closeButtonText]="cancelText" 
      [searchPlaceholder]="searchText"
      >
      <ng-template ionicSelectableSearchFailTemplate>
        <div class="ion-padding noItemsCustomize">
          <ion-text color="primary">{{ noProjectsFound }}</ion-text>
        </div>
      </ng-template>
    </ionic-selectable>
  </ion-item>
</ion-toolbar>

<ion-content>

  


  <ion-list *ngIf="diaryList.length != 0">
    <ion-item *ngFor="let diaryEntry of diaryList |filter:term" (click)="openSiteDiaryDetailPage(diaryEntry)">
      <ion-label>
        <h2>
          {{diaryEntry.creator}}
        <div class="columnView">
          <span class="small margin-bottom">
            {{diaryEntry.createdDate | date: 'dd.MM.yyyy'}}
          </span>
        </div>
      </h2>
        <p>
          {{diaryEntry.status | translate}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="openCreatePage()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-footer>