.small{
    font-size: smaller;
    color: #00000066;
}

.blueborder{
    --border-color:rgba(78, 130, 194, 0.6) ;
    --border-width:3px;
    --border-radius:12px;
    width: 93%;
    margin-left:4%;
    --padding-start:5%;
    --padding-end:5%;
}

ionic-selectable{
    height: 50%;
}

.bottom-margin{
    margin-bottom:250px;
    display: block;
}

.app-blue{
    background-color:rgba(78, 130, 194, 1);
}

.columnView{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 21%;
    float: right;
}

.margin-bottom{
    margin-bottom:5%;
}

.noItemsCustomize{
    text-align: center;
    font-weight: bold;
}