.inline{
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-add-image-block{
    background-color: lightgrey;
}


.center-and-enlarge{
    margin-left: 2%;
    width: 150px;
    height: 80px;
}

ion-checkbox{
    background-color: white;
    margin-right:10px;
}