<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'Introduction Detail' | translate}}</ion-title>
    <ion-button fill="clear" slot="end" (click)="activatePopover($event)">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">
        Introduction Group Id
      </ion-label>
      {{detail.id}}
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Introducted
      </ion-label>
      {{detail.introducted}}
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Introducter
      </ion-label>
      {{detail.introducter}}
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Date Signed
      </ion-label>
      {{detail.dateSigned | date:'dd.MM.yyyy'}}
    </ion-item>
  </ion-list>
</ion-content>